<div class="appointment">
  <h2><%= show_client_name(appointment) %></h2>
  <p><%= show_time(appointment) %></p>
  <p>Duration: <%= show_duration(appointment) %></p>
  <p>Price: <%= show_price(appointment) %></p> 
  <%= link_to "Edit", edit_appointment_path(appointment) %>, <%= link_to "Delete", appointment, method: :delete, data: { confirm: "Are yous ure you want to delete this appointment?" } %>
</div>