<% if current_user.clients.any? %>
<div class="field">
  <p>
    <%= label_tag :client %>
    <%= collection_select :appointment, :client_id, current_user.clients, :id, :name, { prompt: true } %>
  </p>
</div>
<% end %>
<p><% if current_user.clients.any? %>Or <% end %>Create a New Client</p>
<div class="field">
  <%= f.fields_for :client, Client.new do |ff| %> 
    <%= ff.label :name %>
    <%= ff.text_field :name %>
  <% end %>
</div>