<% if current_user.locations.any? %>
<div class="field">
  <p>
    <%= f.label :location_id %>
    <%= collection_select :appointment, :location_id, current_user.locations, :id, :nickname, {prompt: true } %>
  </p>
</div>
<% end %>
<p><% if current_user.locations.any? %>Or <% end %>Create a New Location</p>
<div class="field">
  <p>
    <%= f.fields_for :location, Location.new do |location_atts| %> 
      <%= location_atts.label :nickname %>
      <%= location_atts.text_field :nickname %>
    <% end %>
  </p>
</div>