<div class="location">
  <h2><%= show_nickname(location) %></h2>
  <%= show_address(location) %>
  <p><%= appointment_count(location) %></p> 
  <p><%= location_value(location) %></p>
  <p><%= edit_delete_links(location) %></p> 
</div>